*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.lock
*.log
*.sqlite
*.exe~
*.db
*.db-journal
*.mmdb
.env




.angulardoc.json
coverage.txt
coverage.out

.angular/
.tools/
.idea/
.vscode/

build/
bin/
vendor/

