<uxwb-tab [default]="'Tab1'" [color]="'warning'" [style]="'line'" (switch)="tabChanged($event)">
    <ng-template [tab]="'List Links'">

        <table>
            <tr>
                <th>#</th>
                <th>Link</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
            <tr
                    *ngFor="let item of list; index as i"
                    [class.bg-danger]="item.deleted_at!== null"
            >
                <td>{{item.id}}</td>
                <td class="ww"><a [href]="item.data" target="_blank">{{item.data}}</a></td>
                <td>{{item.count}}</td>
                <td>
                    <div
                            class="uxwb click"
                            [class.uxwb-show]="item.deleted_at!== null"
                            [class.uxwb-hide]="item.deleted_at=== null"
                            (click)="showHideList(i)"
                    >&nbsp;
                    </div>
                </td>
            </tr>
        </table>

    </ng-template>
    <ng-template [tab]="'Rules'">
        tab 2
    </ng-template>
</uxwb-tab>
