.card-title {
  color: blue !important;
  font-size: 9pt !important;
  word-wrap: anywhere;
}

.card-body{
  padding: 7px !important;
}

.uri {
  font-weight: bold;
  font-size: 8pt !important;
  word-wrap: anywhere;
  padding: 7px !important;
}
