<div class="app-main">
  <uxwb-menu class="app-menu">
    <ng-template menu-header>
      <div class="row">
        <div class="col ta-c">
          <h1 class="logo">fDNS</h1>
          <p class="logo-title">DNS filter system</p>
        </div>
      </div>
    </ng-template>
    <ng-template menu-body>
      <div class="pl-1">
        <a routerLink="/home" class="row p-1">
          <i class="uxwb uxwb-home">&nbsp;</i>
          Home
        </a>

        <a routerLink="/settings" class="row p-1">
          <i class="uxwb uxwb-settings2">&nbsp;</i>
          Settings
        </a>

        <a routerLink="/adblock" class="row p-1">
          <i class="uxwb uxwb-folder">&nbsp;</i>
          AdBlock
        </a>

        <a routerLink="/rules" class="row p-1">
          <i class="uxwb uxwb-folder">&nbsp;</i>
          Rules
        </a>
        <a routerLink="/history" class="row p-1">
          <i class="uxwb uxwb-folder">&nbsp;</i>
          History
        </a>
      </div>
    </ng-template>
    <ng-template menu-footer>
      <div class="row ta-c">
        <div class="col">
          &copy; <a href="https://github.com/osspkg">OSSPkg Team</a> <br>2020 - {{currentYear}}
        </div>
      </div>
    </ng-template>
  </uxwb-menu>

  <div class="app-content">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


