<h2>Dynamic Cache Domains</h2>

<div class="row mt-4">
    <div class="col-12">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Filter</div>
            </div>
            <input type="text" class="form-control" (change)="cacheList()" [(ngModel)]="filter">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="cacheList()">
                    <span class="oi oi-reload"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="container-fluid">
            <div *ngFor="let v of list" class="card d-inline-flex align-content-stretch flex-wrap m-1" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{v.domain}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ttl: {{v.ttl}}</h6>
                    <p class="card-text">
                        <span class="fsm d-inline-flex" *ngFor="let ip of v.ip">{{ip}}</span>
                    </p>
                    <a href="{{v.domain|domain}}" target="_blank" class="btn btn-sm btn-light">Open</a>
                    <a (click)="blockDomain(v.domain)" class="btn btn-sm btn-outline-danger">Block</a>
                </div>
            </div>
        </div>
    </div>
</div>
