@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~open-iconic/font/css/open-iconic-bootstrap";
@import '~ngx-toastr/toastr';
@import "@deweppro/core/styles/base.css";
@import "~open-fonts/fonts/jetbrains-mono.css";

* {
  font-family: 'JetBrains Mono', sans-serif;
}

* {
  -moz-user-select: text !important;
  -khtml-user-select: text !important;
  -webkit-user-select: text !important;
  user-select: text !important;
}

:active, :hover, :focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
  position: relative;
  z-index: 1;
}


#toast-container {
  .toast-title {
    font-size: 10pt;
  }

  .toast-message {
    font-size: 9pt;
  }
}

